[submodule "cours"]
	path = cours
	url = git@github.com:g-roch/heig-res-cours.git
[submodule "lab/lab00-Chill"]
	path = lab/lab00-Chill
	url = git@github.com:g-roch/heig-res-lab00-Chill.git
[submodule "lab/lab01-Java-IO"]
	path = lab/lab01-Java-IO
	url = git@github.com:g-roch/heig-res-lab01-Java-IO.git
[submodule "exo/exo01-Protocol-Design"]
	path = exo/exo01-Protocol-Design
	url = git@github.com:g-roch/hei-res-exo01-Protocol-Design.git
